<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生信息</title>
    <link rel="stylesheet" href="" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}">
    <style>
        th,td{
            text-align: center;
        }
    </style>
</head>
<body>
<div>
    <!--th:include="公共页面的名称 :: 定义的公共代码片段名称"-->
    <div th:include="public :: public"></div>
    <div style="padding: 50px 250px 0 250px ">
        <a href="addStu">
            <button type="button" class="btn btn-success">新增</button>
        </a>       <br><br>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">学生名称</th>
                    <th scope="col">学生班级</th>
                    <th scope="col">学生年龄</th>
                    <th scope="col">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="stu : ${stu}">
                    <td th:text="${stu.getId()}"></td>
                    <td th:text="${stu.getName()}"></td>
                    <td th:text="${stu.getGrade().getGradeName()}"></td>
                    <td th:text="${stu.getAge()}"></td>
                    <td>
                        <a href="#" class="btn btn-primary" th:href="@{/seleteStuByOne/} + ${stu.getId()}">编辑</a>
                        <a href="#" class="btn btn-danger" th:href="@{/deleteStu/} + ${stu.getId()}">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>